.text-gray{color:#555}
.overflowClip_1{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block!important}
.overflowClip_2{overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;display:-webkit-box!important;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.url-card .url-body{transform:translateY(0);transition:all .3s ease}
.url-card .url-body:hover{transform:translateY(-6px);box-shadow:0 26px 40px -24px rgba(0,36,100,.3)}
.url-card .url-like{position:absolute;top:5px;right:10px;opacity:0;transition:opacity .3s}
.url-card .url-body:hover .url-like{opacity:1}
.url-card .url-info{overflow:hidden;padding-right:5px}
.url-card .url-goto-after{height:24px;border-top:1px solid rgba(136,136,136,.2)}
.url-card .url-goto{position:absolute;bottom:0;left:0;right:0}
.url-card .card-body{padding:.938rem}
.url-card .url-img{width:40px;height:40px;flex:none;background:rgba(255,255,255,0);overflow:hidden}
.url-card .url-img>img{max-height:100%;vertical-align:unset}
.url-card .max .url-img{width:60px;height:60px}
.url-card .mini .url-img{width:25px;height:25px}
.url-card .post-min .url-img{width:20px;height:20px}
.url-card .post-min .url-img>img{vertical-align:unset}
.url-card.wechat a.card:after{display:none}
.url-card.down a.card:after{display:none}
.url-card.down .mini a.card:after,.url-card.wechat .mini a.card:after{font-size:30px;margin-left:10px;bottom:-5px;right:10px}
.url-card.down .max a.card:after,.url-card.wechat .max a.card:after{font-size:30px;bottom:25px}
.url-card .mini a.togo,.url-card .default a.togo{position:absolute;top:20px;right:0;width:30px;height:30px;line-height:30px;opacity:.2;transition:opacity .3s}
.url-card .mini a.togo{top:4px}
.url-card .url-body:hover a.togo{opacity:1}
.url-card .max a.togo{margin-left:auto}
.url-card .max .tga{width:calc(100% - 15px);overflow:hidden}
.url-card .max .tga a{font-size:75%;padding:.125rem .4rem;background:rgba(134,134,134,.1);color:#888;border-radius:10px;transition:.3s}
.url-card .max .tga a:not(.no-tag):hover{background:#f1404b;color:#fff}
.url-card a.togo:hover i{text-shadow:0 0 5px}
.panel-body .url-card.shortcode-url .card{background:rgba(136,136,136,.1)}
.url-card .remove-site,.url-card .remove-cm-site{position:absolute;top:-8px;right:0;font-size:20px;color:#f1404b;line-height:20px}
.url-card .mini .card-body{padding:0.4rem 0.5rem}
.edit .url-card.sortable{cursor:move}
.edit .url-card.sortable .url-body a{pointer-events:none}
.edit .url-card.sortable .url-body:hover{transform:initial;box-shadow:initial}
.card,.block{background:rgba(255,255,255,0.75);border-width:0;margin-bottom:1rem;box-shadow:0 0 20px -5px rgba(158,158,158,.2);transition:background-color .3s;border-radius:12px}
.dropdown-menu{border:unset;box-shadow:0 5px 20px 0 rgba(0,0,0,.15)}
.dropdown-item:hover{background-color:rgba(136,136,136,.1)}
.dropdown-item:active,.dropdown-item:focus{color:#333;background-color:rgba(136,136,136,.2)}
.dropdown-divider{border-color:rgba(136,136,136,.2)}
.io-black-mode .url-card .url-body:hover{box-shadow:0 26px 40px -24px rgba(2,4,6,.3)}
.sidebar .url-card .card{background:#f1f3f6;box-shadow:unset;border:1px solid #f1f3f6;transition:.3s}
.sidebar .url-card .card:hover{transform:unset;box-shadow:unset;border:1px solid #f1404b!important}